# -*- mode: yaml; mode: flyspell-prog; -*-

CompileFlags:
  Add:
    - -Idebugger

Diagnostics:
  ClangTidy:
    Remove:
      # suppress ExtendedClass::parentClassMethod
      - readability-qualified-auto
